form{
	text-align: center;
	padding-bottom: 10px;
}

body {
	background-image: url("http://49.media.tumblr.com/bcfad7160c56313fbaf3046db6127408/tumblr_o165o1tYWT1u3ji4yo1_500.gif");
	background-size:cover;
	position:absolute;
}
h1{
	text-align: center;
	color:white;
	font-family: 'Anton', sans-serif;
}
h3{
	text-align: center;
	color:white;
	font-family: 'Merriweather', serif;
}
p{
	text-align: center;
	color:white;
	font-family: 'Arimo', sans-serif;
}
.blue{
color:white;
}
#logo{
	color:white;
	font-family: 'Sigmar One', cursive;}
#description{
	padding-right:25%;
	padding-left:25%;
	text-align: center;
}
#form{
	display:none;
}
#purchaseBtn, #buy{
	font-size: 200%;
}
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 75%; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
img{
	height: 100%;
	width:100%;
}
<<<<<<< HEAD

=======
>>>>>>> 5df67ceecf64e1a4fa628d5af1768c9d56e78732
label {
   font-size: 120%;
}
input{
	font-size: 200%
}
